* {
    font-family: 'Inter', sans-serif;
    box-sizing: content-box;
    color: #EFE3C2;
}

body{
    background-color: #123524;
    margin-bottom: 100px;
}

div{
    margin: 16px;
}

.index-title{
    padding: 24px;
    background-color: #3E7B27;

}

.index-content{
    padding: 8px;
    background-color: #85A947;
    margin: 24px;
}

.index-list li {
    background-color: #3E7B27;
    padding: 16px;
    display: inline-block;
    margin: 16px;
}

img{
    border-radius: 5%;
    display: block;
    margin-left: auto;
    margin-right: auto;
 
}

.desc{
    padding: 16px;
}

.recipe-desc{
    padding: 8px;
    margin-left: 36px ;
    margin-right: 36px;
}

.recipe-list{
    margin: 18px 36px;
}

.recipe-list li{
    padding: 8px;
}